@import '~antd/dist/antd.css';

.menu_drawer {
  .ant-drawer-body {
    padding: 0 !important;
  }
  .ant-drawer-header {
    padding: 14px 24px !important;
  }
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important;
  background: #3e91f7;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }
  .menu_left,
  .menu_rigth {
    display: none;
  }
}
